providers = ["python"]

[phases.setup]
nixPkgs = ["python39", "gcc", "libGL", "glib", "glibc", "libGLU", "pkg-config", "ffmpeg"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]
